//---- MAIN STYLES ----//

@import "compass/css3";
@import "susy";

//---- FONTAWESOME ICONS ----//
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

//---- COLORS ----//

$orange: #f1c40f;
$red: #e74c3c;
$green: #2ecc71;
$asphalt: #34495e;



body{
	margin: 0;
	padding: 1em;
}

span.strength{
	background: $asphalt;
	float: left;
	width: 1.5em;
	height: 1.5em;
	margin: 0px 5px;
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: center;
	text-transform: uppercase;

	@include border-radius(2px)

}

.W{
	color: lighten($red, 10%);
}

.M{
	color: lighten($orange, 10%);
}

.S, .B{
	color: lighten($green, 10%);
}

