@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
/* line 10, ../sass/main.scss */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 23, ../sass/main.scss */
body {
  margin: 0;
  padding: 1em;
}

/* line 28, ../sass/main.scss */
span.strength {
  background: #34495e;
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: 0px 5px;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 43, ../sass/main.scss */
.W {
  color: #ed7669;
}

/* line 47, ../sass/main.scss */
.M {
  color: #f4d03f;
}

/* line 51, ../sass/main.scss */
.S, .B {
  color: #54d98c;
}
