@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(sideMenu.css);
/* fontawesome */
/* line 16, ../sass/main.scss */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* line 36, ../sass/main.scss */
body {
  padding: 0;
  font-family: 'Source Sans Pro';
  background: #e3e9eb;
  height: 100%;
}

/* line 43, ../sass/main.scss */
#full-wrap {
  position: relative;
  height: 100%;
}

/* line 48, ../sass/main.scss */
nav {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 5px 0;
  background: #333333;
  position: fixed;
  z-index: 8888;
}
/* line 58, ../sass/main.scss */
nav .logo-toggle {
  max-height: 50px;
  cursor: pointer;
}

/* line 64, ../sass/main.scss */
.container {
  height: 100%;
  padding-top: 4em;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../Resources/Programs/compass/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 71, ../sass/main.scss */
#superbarContainer {
  padding: 3em 0 2em 0;
  border-bottom: 1px dashed #cccccc;
}

/* line 77, ../sass/main.scss */
#superAlert {
  color: #999;
  margin: 2em 1em 0 1em;
  padding: 0px 1em;
  text-align: center;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 87, ../sass/main.scss */
#superbar {
  background: #333333;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px #999999;
  -moz-box-shadow: 0px 0px 3px #999999;
  box-shadow: 0px 0px 3px #999999;
}
/* line 93, ../sass/main.scss */
#superbar.small {
  height: 50px;
}
/* line 98, ../sass/main.scss */
#superbar.small .btn-container.actions {
  top: 0;
  right: 0;
  position: absolute;
}
/* line 103, ../sass/main.scss */
#superbar.small .btn-container.actions:after {
  content: '';
  top: 20%;
  left: 0;
  height: 60%;
  position: absolute;
  border-right: 1px solid #666666;
}
/* line 113, ../sass/main.scss */
#superbar.small .btn-container .btn-search {
  height: 46px;
  margin: 2px 0;
  line-height: 40px;
}
/* line 117, ../sass/main.scss */
#superbar.small .btn-container .btn-search:hover {
  color: #27ae60;
}
/* line 120, ../sass/main.scss */
#superbar.small .btn-container .btn-search.green {
  color: #27ae60;
}
/* line 125, ../sass/main.scss */
#superbar.small .btn-container .btn-add {
  background: #16a085;
  color: #fff;
}
/* line 129, ../sass/main.scss */
#superbar.small .btn-container .btn-add:hover {
  background: #1abc9c;
  color: #0e6252;
}
/* line 137, ../sass/main.scss */
#superbar.big {
  height: 195px;
  padding-top: 10px;
}
/* line 141, ../sass/main.scss */
#superbar.big .btn-container {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  float: left;
  display: block;
  padding: 1em 0;
}
/* line 150, ../sass/main.scss */
#superbar.big .btn-create {
  width: 21.05263%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  color: #fff;
  height: 40px;
  background: #16a085;
  line-height: 40px;
  margin-right: 1em;
}
/* line 159, ../sass/main.scss */
#superbar.big .btn-create:hover {
  background: #1abc9c;
  color: #0e6252;
}
/* line 167, ../sass/main.scss */
#superbar.big .btn-action {
  width: 100px;
  height: 40px;
  margin: 0 1em;
  line-height: 40px;
  text-align: left;
}
/* line 175, ../sass/main.scss */
#superbar.big #inputTitle {
  font-weight: bold;
  font-size: 1.4em;
  text-indent: 0.8em;
  position: relative;
}
/* line 182, ../sass/main.scss */
#superbar.big #inputPassword {
  font-family: 'Courier New';
  color: #1abc9c;
  font-size: 1.2em;
}
/* line 188, ../sass/main.scss */
#superbar.big #strengthLog {
  float: left;
  height: 8px;
  background: #4d4d4d;
  width: 94%;
  margin: 5px 3%;
  padding: 0;
  overflow: hidden;
}
/* line 201, ../sass/main.scss */
#superbar.big #strengthIndicator {
  float: left;
  height: 8px;
  color: #fff;
  text-align: center;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}
/* line 209, ../sass/main.scss */
#superbar.big #strengthIndicator.Weak {
  width: 15%;
  background: #e74c3c;
}
/* line 213, ../sass/main.scss */
#superbar.big #strengthIndicator.Medium {
  width: 40%;
  background: #f1c40f;
}
/* line 217, ../sass/main.scss */
#superbar.big #strengthIndicator.Strong {
  width: 70%;
  background: #27ae60;
}
/* line 221, ../sass/main.scss */
#superbar.big #strengthIndicator.Best {
  width: 100%;
  background: #9b59b6;
}
/* line 228, ../sass/main.scss */
#superbar .superInput {
  height: 40px;
  border: none;
  padding: 5px 0em;
  text-indent: 1em;
  background: #333333;
  color: #e3e9eb;
  outline: 0;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}

/* line 243, ../sass/main.scss */
.btn {
  width: 50px;
  height: 50px;
  border: none;
  line-height: 50px;
  font-size: 1.2em;
  outline-color: #2ecc71;
}
/* line 253, ../sass/main.scss */
.btn.btn-action {
  float: left;
  margin: 0;
  background: #333333;
  color: #666666;
  outline: none;
}
/* line 260, ../sass/main.scss */
.btn.btn-action:hover {
  color: #e3e9eb;
}
/* line 265, ../sass/main.scss */
.btn.btn-action.yellow:hover {
  color: #f1c40f;
}
/* line 268, ../sass/main.scss */
.btn.btn-action.red:hover {
  color: #e74c3c;
}
/* line 271, ../sass/main.scss */
.btn.btn-action.teal:hover {
  color: #1abc9c;
}
/* line 274, ../sass/main.scss */
.btn.btn-action.green:hover {
  color: #2ecc71;
}
/* line 277, ../sass/main.scss */
.btn.btn-save {
  background: #1abc9c;
}
/* line 280, ../sass/main.scss */
.btn.btn-save:hover {
  background: #148f77;
}
/* line 284, ../sass/main.scss */
.btn.btn-block {
  color: #fff;
  font-size: 1em;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}

/* line 292, ../sass/main.scss */
#passwordContainer {
  margin-top: 3em;
  height: 100%;
}

/* line 297, ../sass/main.scss */
.passwordView {
  background: #fff;
  margin: 3em 0;
  position: relative;
  border-bottom: 2px solid #cccccc;
  -webkit-box-shadow: 0px 0px 2px #999999;
  -moz-box-shadow: 0px 0px 2px #999999;
  box-shadow: 0px 0px 2px #999999;
}
/* line 305, ../sass/main.scss */
.passwordView input {
  width: 100%;
  padding: 0.5em 0;
  margin: 0.5em 0;
  border: none;
  color: #1abc9c;
  text-indent: 0.5em;
  outline-color: #2ecc71;
  background: #404040;
}
/* line 319, ../sass/main.scss */
.passwordView .service {
  font-size: 1.2em;
}
/* line 323, ../sass/main.scss */
.passwordView .strength-bar {
  color: #FFF;
  height: 20px;
  margin: 1.5em 0;
  overflow: hidden;
  line-height: 20px;
  background: #dde4e6;
  text-align: center;
  text-transform: uppercase;
}
/* line 333, ../sass/main.scss */
.passwordView .strength-bar .Weak {
  background: #e74c3c;
  width: 25%;
}
/* line 337, ../sass/main.scss */
.passwordView .strength-bar .Medium {
  background: #f1c40f;
  width: 50%;
}
/* line 341, ../sass/main.scss */
.passwordView .strength-bar .Strong {
  background: #2ecc71;
  width: 75%;
}
/* line 345, ../sass/main.scss */
.passwordView .strength-bar .Best {
  background: #9b59b6;
  width: 100%;
}
/* line 351, ../sass/main.scss */
.passwordView .password {
  background: #333333;
  color: #1abc9c;
  padding: 15px;
  font-size: 1.2em;
  font-family: 'Courier New';
  border-left: 5px solid #595959;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 362, ../sass/main.scss */
.passwordView .passwordInfo {
  padding-top: 3em;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../Resources/Programs/compass/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.passwordView .passwordInfo:after {
  content: "";
  display: table;
  clear: both;
}
/* line 366, ../sass/main.scss */
.passwordView .passwordInfo h3 {
  margin-bottom: 0.3em;
}
/* line 369, ../sass/main.scss */
.passwordView .passwordActions {
  height: 50px;
  padding-bottom: 3px;
  background: #333333;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  -webkit-box-shadow: inset 0px -2px 2px #1a1a1a;
  -moz-box-shadow: inset 0px -2px 2px #1a1a1a;
  box-shadow: inset 0px -2px 2px #1a1a1a;
}
/* line 378, ../sass/main.scss */
.passwordView .passwordInputs {
  padding: 3em 0 1em 0;
  font-size: 1.5em;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../Resources/Programs/compass/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.passwordView .passwordInputs:after {
  content: "";
  display: table;
  clear: both;
}

/* line 387, ../sass/main.scss */
span.strength-ribbon {
  width: 2em;
  height: 2em;
  color: #fff;
  top: -0.2em;
  right: 0.5em;
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 401, ../sass/main.scss */
span.strength-ribbon:after {
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 0.5em solid;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}
/* line 414, ../sass/main.scss */
span.strength-ribbon.Weak {
  background: #e74c3c;
}
/* line 415, ../sass/main.scss */
span.strength-ribbon.Weak:after {
  border-top-color: #e74c3c;
}
/* line 417, ../sass/main.scss */
span.strength-ribbon.Medium {
  background: #f1c40f;
}
/* line 418, ../sass/main.scss */
span.strength-ribbon.Medium:after {
  border-top-color: #f1c40f;
}
/* line 420, ../sass/main.scss */
span.strength-ribbon.Strong {
  background: #2ecc71;
}
/* line 421, ../sass/main.scss */
span.strength-ribbon.Strong:after {
  border-top-color: #2ecc71;
}
/* line 423, ../sass/main.scss */
span.strength-ribbon.Best {
  background: #9b59b6;
}
/* line 424, ../sass/main.scss */
span.strength-ribbon.Best:after {
  border-top-color: #9b59b6;
}

@media (min-width: 40em) {
  /* line 433, ../sass/main.scss */
  .container {
    max-width: 39em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../Resources/Programs/compass/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 441, ../sass/main.scss */
  .btn.btn-block {
    width: 21.05263%;
    float: right;
    margin-right: 0;
  }

  /* line 447, ../sass/main.scss */
  .passwordView .service {
    font-size: 1.5em;
  }
}
